<!-- Loop over each object in the projects array -->
{{#each blogposts as |blogpost| }}
<div class="row mb-4 project">
  <div class="col-md-5">
    <h2>
      <!-- Call helper function with triple brackets to render the emoji span as HTML -->
      <a href="/blogpost/{{blogpost.id}}">{{blogpost.name}}</a>
    </h2>
    <p>{{format_date blogpost.date_created}}</p>
  </div>
  <div class="col-md-7">
    <p>
      {{blogpost.description}}
    </p>
  </div>
</div>
{{/each}}
